{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Profile</title>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function showSuccessAlert() {
            Swal.fire({
                title: 'Loading...',
                text: 'Please wait while we redirect you.',
                allowOutsideClick: false, // Prevent users from closing the alert
                showConfirmButton: false, // No confirm button
                didOpen: () => {
                    Swal.showLoading(); // Show the loading spinner
                }
            });
        
            // Redirect after a delay (e.g., 2 seconds)
            setTimeout(() => {
                window.location.href = '{% url "index" %}'; // Redirect to 'home'
            }, 500);
        }
    </script>

</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'LOGO/logo.png' %}" alt="Logo">
        </div>
        <!-- HOME link -->
        <a onclick="showSuccessAlert()" class="home-link">HOME</a>
    </div>

    <div class="image-container"></div>

    <div class="main-content">
        <h1>SELECT YOUR PROFILE</h1>
        <div class="profiles">
            <!-- Employee profile link -->
            <a href="{% url 'employee' %}">
                <img src="{% static 'LOGO/employees.png' %}" alt="Employee">
                <div class="profile-label">Employee</div>
            </a>
            <!-- Admin profile link with query parameters -->
            <a href="{% url 'log_in' %}?user_type=admin&next=/admin_graph">
                <img src="{% static 'LOGO/admins.png' %}" alt="Admin">
                <div class="profile-label">Admin</div>
            </a>
            <!-- Super Admin profile link with query parameters -->
            <a href="{% url 'log_in' %}?user_type=super&next=/super">
                <img src="{% static 'LOGO/superadmin.png' %}" alt="Super Admin">
                <div class="profile-label">Super Admin</div>
            </a>            
        </div>
    </div>
</body>
</html>
