<!DOCTYPE html>
<html>
<head>
  <title>Food Hub</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'CSS/LOGIN.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="logo">
      <a href="{% url 'home' %}">
        <img src="{% static 'LOGO/logo.png' %}" alt="Logo">
      </a>
    </div>
  </div>
  <h1>Reset Password</h1>
<form method="post">
  {% csrf_token %}
  <label for="new_password">New Password:</label>
  <input type="password" name="new_password" id="new_password" required>
  <button type="submit">Reset Password</button>
</form>
  </div>
</div>
</body>
</html>
