body {
  font-family: 'Playfair Display', serif;
  background-color: #f5dfc0;
  margin: 0;
  padding: 0;
}

#current-date-time {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 2px;
  font-weight: bold;
}


.header {
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5dfc0;
  border-bottom: 5px solid #000;
  padding: 5px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header img {
  height: 75px;
}


.main-wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #110901;
  color: #fdfcfc;
  padding: 10px;
  width: 200px;
  height: calc(100vh - 90px);
  position: fixed;
  top: 90px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 5px solid #000;
  overflow-y: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.sidebar a:hover {
  color: #8a4600;
}

.sidebar .logo {
  border-radius: 100px;
  width: 180px;
  height: 180px;
  margin: 1em auto;
  overflow: hidden;
}

.logo-container {
  text-align: center;
}

.logo-container span {
  font-size: 14px;
  color: #666;
}

.graph-container{
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-left: 15%;
  margin-top: 20px; 
}


/* Container headings */
.container h2 {
  text-align: center;
  font-size: 24px;
  color: black;
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
}

.nav-links {
  margin-left: 0; 
}

.nav-links a {
  color: #080808;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  margin-right: 40px;
}

.nav-links :hover {
  color: #8a4600;
}

/* Add some basic styling for layout */
.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search-bar {
  gap: 10px;
  margin-left: 40%;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  width: 25%;
  margin-bottom: 20px;
}

.search-bar input[type="search"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button[type="submit"]:hover {
  background-color: #0056b3;
}

h1 {
  margin-left: 170px;
  margin-bottom: 30px;
  margin-top: 5%;
  font-size: 50px;
}

h4 {
  margin-left: 170px;
  margin-bottom: 30px;
  margin-top: 8%;
  font-size: 50px;
}
.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-left: 30%;
}

.item-info{
  background-color: #F5E4C4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  gap: 20px;
}

.item-info h2, .supplier-info h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.col-md-5 {
  float: left;
  width: 45%;
  margin: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  gap: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0772e4;
}

.btn-secondary, .btn-secondarys {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;

  cursor: pointer;
  margin-left: 10px;
}

.btn-secondary:hover, .btn-secondarys:hover {
  background-color: #0772e4;
}
