body {
    font-family: 'Playfair Display', serif;
    background-color: #f5dfc0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 2.5rem;
    margin-left: 15%;
    color: black;
    letter-spacing: 2px;
}

.containers {
    width: 85%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-left: 25%; /* Center-aligns the container */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.containers:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly less transparent on hover */
    box-shadow: 0 0 50px #964B00; /* Deeper shadow on hover */
}


table {
    width: 100%;
    max-width: 780px;
    margin: 25px auto;
    border-collapse: collapse;
    font-size: 1rem;
    color: #333333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 20px 30px;
    text-align: left;
}

th {
    background-color: #6f4e37;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-bottom: 2px solid #d5b59c;
}

td {
    background-color: #fffdf8;
    color: #4b3832;
    border-bottom: 1px solid #e6d5c7;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

tr:nth-child(even) td {
    background-color: #f8f2ec;
}

tr:hover td {
    background-color: #f4e1d2;
}

a {
    color: #6f4e37;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #4b3832;
    text-decoration: underline;
}
