<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Hub</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/employee.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    const dateTimeElement = document.getElementById('time');

    function updateDateTime() {
        const now = new Date();
        const date = now.toLocaleDateString();
        const time = now.toLocaleTimeString();
        const dateTimeHTML = `${date} - ${time}`;
        dateTimeElement.innerHTML = dateTimeHTML;
    }

    updateDateTime();
    setInterval(updateDateTime, 1000);
});
    </script>

    <style>
        
    </style>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="{% url 'home' %}">
            <img src="{% static 'LOGO/logo.png' %}" alt="Logo">
            </a>
        </div>
    </div>
    <div class="header-info">
        <div class="welcome-container">
            <img src="{% static 'LOGO/employee.png' %}" alt="Employee">
            <div class="welcome-text">
                WELCOME EMPLOYEE
            </div>
        </div>
        <div class="time" id="time">
        </div>
    </div>
    <div class="main-content">
        <h1>SELECT  YOUR  STALL</h1>
        <div class="stalls">
            <a href="{% url 'log_in' %}?next={% url 'yummy_mango' %}">
                <img src="{% static 'LOGO/mango.png' %}" alt="Yummy Mango">
            </a>
            <a href="{% url 'log_in' %}?next={% url 'cravers_haven' %}">
                <img src="{% static 'LOGO/cravers.png' %}" alt="Craver's Haven">
            </a>
            <a href="{% url 'log_in' %}?next={% url 'uncle_brew' %}">
                <img src="{% static 'LOGO/uncle.png' %}" alt="Uncle Brew">
            </a>
            <a href="{% url 'log_in' %}?next={% url 'sealog_bbq' %}">
                <img src="{% static 'LOGO/sealog.png' %}" alt="Sealog & BBQ">
            </a>
            <a href="{% url 'log_in' %}?next={% url 'bja_lechon' %}">
                <img src="{% static 'LOGO/BJA.png' %}" alt="BJA Lechon Manok">
            </a>
            <a href="{% url 'log_in' %}?next={% url 'tusok_tusok' %}">
                <img src="{% static 'LOGO/tusok.png' %}" alt="Tusok Tusok & More">
            </a>
        </div>
    </div>
</body>
</html>
