<!DOCTYPE html>
<html>
<head>
  <title>Food Hub</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'CSS/LOGIN.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="logo">
      <a href="{% url 'home' %}">
        <img src="{% static 'LOGO/logo.png' %}" alt="Logo">
      </a>
    </div>
  </div>
  <h1>LOG IN</h1>
<div class="container">
  <div class="content">
    <form method="post">
      {% csrf_token %}
      
      <!-- Hidden field to distinguish between employee and admin/super admin -->
      <input type="hidden" name="user_type" value="{{ user_type }}">

      <!-- If employee, show email_address field -->
      {% if user_type == "employee" %}
        <div class="form-group">
          <label for="email_address">EMAIL ADDRESS:</label>
          <input type="email" placeholder="Enter Email" id="email_address" name="email_address" required>
        </div>
      {% else %}
        <!-- For admin and super admin, show username field -->
        <div class="form-group">
          <label for="username">USERNAME:</label>
          <input type="text" placeholder="Enter Username" id="username" name="username" required>
        </div>
      {% endif %}
      
      <div class="form-group">
        <label for="password">PASSWORD:</label>
        <input type="password" placeholder="Enter Password" id="password" name="password" required>
      </div>

      <button type="submit" class="btn">PROCEED</button>
      
      {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
      {% endif %}
    </form>
  </div>
</div>
</body>
</html>
