body {
  font-family: 'Playfair Display', serif;
  background-color: #f5dfc0;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5dfc0;
  border-bottom: 5px solid #000;
  padding: 5px 15px;
}

.logo img {
  height: 75px;
}

.main-content {
  text-align: center;
  padding: 10px 20px;
}

h1 {
  color: #000;
  font-size: 60px;
  margin-bottom: 10px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profiles a {
  text-align: center;
  text-decoration: none;
  color: #000;
  border-color: o;
  margin: 30px;
}

.profiles img {
  width: 280px;
  height: 280px;
}

.profile-label {
  margin-top: 10px;
  font-size: 25px;
  background-color: whitesmoke;
  border: 3px solid #f3ad73;
  border-radius: 10px;
  font-weight: bold;
}
